<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
<body>
    {{> header}}
    {{welcomeMessage}}
    <p>{{screamIt 'hello world!'}}<p>
{{> footer}}
</body>
</html>